.body_article {
  max-width: 1440px;
  min-width: 320px;
}
.header_article {
  margin: auto 10%;
  height: 30%;
  background-size: cover;
  @media screen and (max-width: 920px) {
    height: 40%;
    
  }
}
 
.wrapper_article {
  margin: 5% 10%;}
  
  
  .h1_article {
    @include h2 ($colortextdark);
    text-align: center;
  }

  .article__img {
        float: left;
        margin: 20px;
        width: 40%;
        height: 60%;
        object-fit: cover;
      }

    .article__img1 {
        float: right;
        margin: 0;
        width: 40%;
        height: 60%;
        object-fit: cover;
      }
      .article__img3 {
        float: right;
        margin: 10px;
        width: 40%;
        height: 30%;
        object-fit: cover;
      }

      .article__p {
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
      font-family: $fontmain;
    }

      .article__p {
        font-family: $fontmain;
      }
      .article__ul {
        font-family: $fontmain;
      }

      .footer_article {
        max-width: 1440px;
        min-width: 320px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $bgcolordark;
        width:100%;
        margin: 15px;
        border-radius: 15.994px;
      }
