.h2__blog {
    @include h2($colortextdark);
}

.blog_wrapper {
    width: 100%;
    background-image: url(/assets/images/img_blog/backgrimg.png);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

.card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $colortextgreenlight;
    width: 30vw;
    height: 70vh;
    margin: 10px;

.card__img {
    height: 70vh;
    width: 80vw;}

.card__link {
   padding-left: 10px;
   padding-top: 10px;
    text-decoration: none;
    color: $colortextlight;
    color:$colortextlight;
text-overflow: ellipsis;
font-family: Noto Serif;
font-size: 27.691px;
font-style: normal;
font-weight: 400; }

}
}