.h2__blog {
    @include h2($colortextdark);
}

.blog_wrapper {
    width: 100%;
    background-image: url(/assets/images/img_blog/backgrimg.png);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $colortextgreenlight;
    width: 30vw;
    height: 70vh;
    margin: 10px;
}
.card__img {
    height: 70vh;
    width: 80vw;}

.card__link {
   padding-left: 10px;
   padding-top: 10px;
    text-decoration: none;
    text-align: center;
    color: $colortextlight;
    text-overflow: ellipsis;
    font-family: $fontmain;;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400; }

.card-wrapper:hover {
    transform: scale(1.2);
  }

@media screen and (max-width: 920px) {
.card-wr1 {
    display: none;}

    .blog-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .card-wrapper {
        width: 60%;
        }
}