.header {
  width: 100vw;
  height: 860px;
  background-image: url(../images/header_1.png);
  background-size: cover;
  @media screen and (max-width: 920px) {
    height: 950px;
    
  }
}
.header-container {
  margin: auto 10vw;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    width: 180px;
    height: 80px;
  }
}
.header__menu {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  @media screen and (max-width: 920px){
    display: none;
  }
}
.header__menu_item {
  margin-left: 2vw;
  color: $colortextdark;
  text-decoration: none;
  font-family: $fontmain;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.header__menu_item:hover {
  color: $colortextlight;
  background-color: $bgcolordark;
}
.dropdown-menu {
  background: transparent;
  border: none;
}
.dropdown-item {
  font-size: 8px;
}
.burger-menu {
  display: none;
  @media screen and (max-width: 920px) {
    display: block;
    fill: $bgcolordark;
  }
}
.burger-menu:hover {
  background-color: $bgcolorlight;
  fill: $bgcolorlight;
}
.header__socials_tel {
  width: 31.507px;
  height: 30.75px;
  margin-right: 5px;
}
.header__socials_tg {
  width: 36.758px;
  height: 36px;
  margin-right: 5px;
}
.header__socials_wa {
  width: 36.758px;
  height: 33.75px;
}
.header__main {
  margin-top: 20vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  color: $colortextdark;
  font-family: $fontmain;
}
.header__button {
  @include btn(339px, 75px, $bgcolordark, $colortextlight);
  margin-top: 10%;
}
.header__button:hover {
  color:$colortextdark;
  background-color: $bgcolorlight;
  border: 1px solid $colortextdark;
}
.h1 {
  font-size: 50px;
  font-family: $fontmain;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2px;
}
.header-h3 {
  @include h3 ($colortextdark);
  line-height: 140%;
  letter-spacing: 0.5px;
}
.header__main_text {
  margin-top: 5vh;
  width: 100%;
  font-size: 17px;
  font-family: $fontmain;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
