.instructions {
  margin: 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.inctruction-h2 {
  @include h2($colortextdark);
  text-align: start;
  margin-bottom: 5%;
  @media screen and (max-width: 850px) and (min-width: 281px) {
    text-align: center;
  }
  @media screen and (max-width: 280px) {
    font-size: 38px;
  }
}
.instruction-h3 {
  @include h3($colortextdark);
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 5%;
  text-align: center;
}
.instructions__before {
  justify-self: flex-start;
  flex-basis: 45%;
  @media screen and (max-width: 850px) {
    flex-basis: 100%;
  }
}
.instructions__after {
  flex-basis: 45%;
  @media screen and (max-width: 850px) {
    flex-basis: 100%;
  }
}
.instructions__before-list-item {
  font-family: $fontmain;
  font-size: 15px;
  color: $colortextdark;
  .instructions__before-list_nested {
    padding-left: 0;
    .instructions__before-list-item_nested {
      list-style-type: none;
    }
  }
}
.instructions__after-list {
  font-family: $fontmain;
  font-size: 15px;
  color: $colortextdark;
  .instructions__after-list_nested {
    padding-left: 0;
    .instructions__after-list-item_nested {
      list-style-type: none;
    }
  }
}

form {
  flex-wrap: wrap;
  display: flex;
  margin: 60px 0 auto 0;
  flex-basis: 100%;
  gap: 5%;
  justify-content: center;
  @media screen and (max-width: 680px) and (min-width: 551px) {
    justify-content: start;
  }
  @media screen and (max-width: 550px) {
    justify-content: space-evenly;
  }
  .form-header {
    flex-basis: 100%;
    font-size: 25px;
    font-family: $fontmain;
    text-align: center;
    color: $colortextpale;
  }
  input {
    height: 75px;
    font-family: $fontmain;
    background-color: $bgcolorlight;
    border: 1px solid $bgcolorlight;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 2%;
  }
  input:hover {
    border: 1px solid $colortextdark;
  }
  input:focus {
    border: 1px solid $colortextdark;
    outline: 0;
  }
  .ask-button {
    @include btn(164px, 75px, $bgcolordark, $colortextlight);
  }
  .ask-button:hover {
    color: $colortextdark;
    background-color: $bgcolorlight;
    border: 1px solid $colortextdark;
  }
}
