.instructions {
  margin: 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.h2 {
  @include h2($colortextdark);
  text-align: start;
}
.instruction-h3 {
  @include h3($colortextdark);
  flex-basis: 100%;
  margin-bottom: 5%;
}
.before-instruction {
  justify-self: flex-start;
  flex-basis: 45%;
}
.after-instruction {
  flex-basis: 45%;
}
.before-instruction__list-item {
  font-family: $fontmain;
  font-size: 15px;
  color: $colortextdark;
  ul {padding-left: 0;
    li{
      list-style-type: none;

    }}
}
.after-instruction__list-item {
  font-family: $fontmain;
  font-size: 15px;
  color: $colortextdark;
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

form {
  flex-wrap: wrap;
  display: flex;
  margin: 60px 0 auto 0;
  flex-basis: 100%;
  gap: 5%;
  justify-content: center;
  .form-header {
    flex-basis: 100%;
    font-size: 25px;
    font-family: $fontmain;
    text-align: center;
    color: $colortextpale;
  }
  input {
    height: 75px;
    // margin-right: 82px;
    font-family: $fontmain;
    background-color: $bgcolorlight;
    border: 1px solid $bgcolorlight;
    border-radius: 15px;
    padding: 20px;
  }
  button {
    @include btn(164px, 75px, $bgcolordark, $colortextlight);
  }
}
