.laser_employees {
    max-width: 100%;
    padding: 3rem;
    background-size: cover;
    flex-shrink: 0;
    border-radius: 50px;
    background: rgba(137, 177, 169, 0.30);

    /* для форм/темный */
    box-shadow: 2px 5px 10px 5px rgba(46, 75, 121, 0.20);
}

.laser_employees_license {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15vh;
    padding-bottom: 5rem;

}

.img_employees {
    max-width: 100%;
}

.img_equipment {
    max-width: 100%;
}

.license {
    display: flex;
    justify-content: center;

}

.licence_photo {
    width: 70%;
    margin-top: 15vh;
}

.h3_ourstudio {
    color: var(--unnamed, #4E2956);
    text-align: center;

    /* Заголовок 2 */
    font-family: Noto Serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 45.5px */
    letter-spacing: 1.75px;
    text-transform: capitalize;
    margin-top: 3rem;
}

.laser_employees_licence_element_line {
    max-width: 100%;
    margin-bottom: 3rem;
}

.img_employees {
    margin-top: 3rem;
}

@media screen and (max-width: 900px) {
    .laser_employees {
        width: 50rem;
    }
}