.laser_employees {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15vh;
}

.license {
    display: flex;
    justify-content: center;

}

.licence_photo {
    width: 50%;
    margin-top: 15vh;
}