.reviews{
  width: 97vw;
  margin-bottom: 15px;
}
.h2{
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 2.75px;
  text-align: center;
  font-family: $fontmain;
  color: $colortextdark;
  }
  .stars{
  text-align: center;
  width: 20vw;   
  }
  .rating{
  color: $colortextdark;
  text-align: center;
  font-family: $fontmain;
  font-size: 25px;
  font-weight: 300;
  line-height: 140%; 
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 10px;
  }
  .text{
      display: flex;
      justify-content: space-between;
  }
  .text1{
  width: 30vw;
  height: 20vh;
  padding: 10.663px 13.328px;
  border-radius: 15.994px;
  border: 0.536px solid #BEB6BF;
  background: #F0ECF0;
  box-shadow: 1.42857px 3.57143px 7.14286px; 
  margin: 10px;
  background-color: $bgcolordark;
  }
  .p1{
  color: $colortextlight;
  text-align: center;
  font-family: $fontreviews;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%; 
  letter-spacing: 0.34px;
  text-decoration-line: underline;
  }
  .p2{
  color: $colortextlight;
  text-align: center;
  font-family: $fontreviews;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 140%; 
  letter-spacing: 0.32px;
  }
  .text1:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }

