$colortextdark: var(--unnamed, #4E2956);
$colortextlight: #FFF;
$colortextpale: rgb(78 41 86 / 70%);
$colortextgreendark: var(--unnamed, #1B3C36);
$colortextgreenlight: #89B1A9;
$fontmain: 'Comfortaa', italic;
$bgcolordark:#5B495F;

