.header {
  width: 100vw;
  height: 860px;
  background-image: url(../images/header_1.png);
  background-size: cover;
}

.header__container {
  margin: auto 10vw;
  background-color: transparent;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .header__logo {
  width: 180px;
  height: 80px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.header__menu_item {
  margin-left: 2vw;
  color: var(--unnamed, #4E2956);
  text-decoration: none;
  font-family: "Comfortaa", italic;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.dropdown-menu {
  background: transparent;
  border: none;
}

.dropdown-item {
  font-size: 8px;
}

.header__socials_tel {
  width: 31.507px;
  height: 30.75px;
  margin-right: 5px;
}

.header__socials_tg {
  width: 36.758px;
  height: 36px;
  margin-right: 5px;
}

.header__socials_wa {
  width: 36.758px;
  height: 33.75px;
}

.header__main {
  margin-top: 20vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
}

.header__button {
  width: 339px;
  height: 75px;
  background-color: #5B495F;
  color: #FFF;
  font-family: "Comfortaa", italic;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.25px;
  margin-top: 10%;
}

.h1 {
  font-size: 55px;
  font-family: "Comfortaa", italic;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 2.75px;
}

.h3 {
  font-size: 20px;
  font-family: "Comfortaa", italic;
  font-style: normal;
  font-weight: 200;
  line-height: 140%;
  letter-spacing: 0.5px;
}

.header__main_text {
  margin-top: 5vh;
  font-size: 17px;
  font-family: "Comfortaa", italic;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.section__studio {
  margin-top: 10%;
  margin-left: 40%;
  width: 30%;
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
}
@media (max-width: 768px) {
  .section__studio {
    margin-top: 20%;
    margin-left: 15%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .section__studio {
    margin-top: 10%;
    margin-left: 10%;
  }
}
@media (min-width: 1201px) {
  .section__studio {
    margin-top: 12%;
    margin-left: 40%;
  }
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .section__studio {
    margin-top: 60%;
    margin-left: 10%;
  }
}
.section__studio .h2 {
  font-size: 55px;
  font-family: "Comfortaa", italic;
  font-style: normal;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: 5%;
}

.video-container {
  position: relative;
  max-width: 80%;
  margin-left: 10%;
}
.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-container .video-overlay {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-container .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.section__advantages {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}
.section__advantages .section__advantages a {
  display: inline-block;
  width: 20%;
  padding-top: 7%;
  margin: 0;
}
.section__advantages .section__advantages a .section__advantages a img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.reviews {
  width: 100vw;
}

.h2 {
  color: #4e2956;
  font-family: Noto Serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 2.75px;
  text-align: center;
}

.stars {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.rating {
  color: #4e2956;
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 10px;
}

.text {
  display: flex;
  justify-content: space-between;
}

.text1 {
  width: 30vw;
  height: 20vh;
  padding: 10.663px 13.328px;
  border-radius: 15.994px;
  border: 0.536px solid #beb6bf;
  background: #f0ecf0;
  box-shadow: 1.42857px 3.57143px 7.14286px;
  margin: 10px;
}

.p1 {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.34px;
  text-decoration-line: underline;
}

.p2 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.32px;
}

.text1:hover {
  transform: scale(1.2);
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */