@charset "UTF-8";
.header {
  width: 100vw;
  height: 860px;
  background-image: url(../images/header_1.png);
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .header {
    height: 950px;
  }
}

.header-container {
  margin: auto 10vw;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .header__logo {
  width: 180px;
  height: 80px;
}
@media screen and (max-width: 414px) {
  .header__nav .header__logo {
    width: 80px;
    height: 40px;
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}
@media screen and (max-width: 920px) {
  .header__menu {
    display: none;
  }
}

.header__menu_item {
  margin-left: 2vw;
  color: var(--unnamed, #4E2956);
  text-decoration: none;
  font-family: "Comfortaa", italic;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.header__menu_item:hover {
  color: #FFF;
  background-color: #5B495F;
}

.dropdown-menu {
  background: transparent;
  border: none;
}

.dropdown-item {
  font-size: 8px;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 920px) {
  .burger-menu {
    display: block;
    fill: #5B495F;
  }
}

.burger-menu:hover {
  background-color: #f1e5e5;
  fill: #f1e5e5;
}

.header__socials_tel {
  width: 31.507px;
  height: 30.75px;
  margin-right: 5px;
}
@media screen and (max-width: 920px) {
  .header__socials_tel {
    width: 25px;
    margin-bottom: 1%;
    margin-top: 1%;
  }
}

.header__socials_tel:hover {
  transform: scale(1.2);
}

.header__socials_tg {
  width: 36.758px;
  height: 36px;
  margin-right: 5px;
}
@media screen and (max-width: 920px) {
  .header__socials_tg {
    width: 25px;
    margin-bottom: 1%;
  }
}

.header__socials_tg:hover {
  transform: scale(1.2);
}

.header__socials_wa {
  width: 36.758px;
  height: 33.75px;
}
@media screen and (max-width: 920px) {
  .header__socials_wa {
    width: 25px;
    margin-bottom: 1%;
  }
}

.header__socials_wa:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 920px) {
  .header__socials {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
}

.header__main {
  margin-top: 20vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
}

.header__button {
  width: 339px;
  height: 75px;
  background-color: #5B495F;
  color: #FFF;
  font-family: "Comfortaa", italic;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.25px;
  margin-top: 10%;
}
@media screen and (max-width: 767px) {
  .header__button {
    width: 250px;
    height: 60px;
    background-color: #5B495F;
    color: #FFF;
    font-family: "Comfortaa", italic;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.25px;
    font-size: 15px;
  }
}
@media screen and (max-width: 414px) {
  .header__button {
    width: 80vw;
    height: 40px;
    background-color: #5B495F;
    color: #FFF;
    font-family: "Comfortaa", italic;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.25px;
    font-size: 15px;
  }
}

.header__button:hover {
  color: var(--unnamed, #4E2956);
  background-color: #f1e5e5;
  border: 1px solid var(--unnamed, #4E2956);
}

.h1 {
  font-size: 50px;
  font-family: "Comfortaa", italic;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 35px;
  }
}

.header-h3 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 20px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 768px) {
  .header-h3 {
    font-size: 17px;
  }
}

.header__main_text {
  margin-top: 5vh;
  width: 100%;
  font-size: 17px;
  font-family: "Comfortaa", italic;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .header__main_text {
    font-size: 15px;
  }
}
@media screen and (max-width: 414px) {
  .header__main_text {
    font-size: 13px;
  }
}

.about-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: center;
  margin-top: 12%;
}

.video-container {
  position: relative;
  max-width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
}
.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-container .video-overlay {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-container .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.section-about__advantages {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.section-about__advantages .a {
  display: inline-block;
  padding-top: 7%;
  margin: 0;
}

.about-icons {
  width: 50%;
}

.about-icons:hover {
  transform: scale(1.1);
}

.section-about__advantages_item {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.advantages-h3 {
  color: #89B1A9;
  font-family: "Comfortaa", italic;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.advantages-h3_link {
  text-decoration: none;
  color: inherit;
}

.advantages-h3_link:hover {
  text-decoration: underline;
  color: inherit;
}

.price {
  margin: 5% 10%;
  background-image: url(../images/priceback1.png);
  background-size: cover;
}

.price-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: center;
}

.card-group {
  display: flex;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.carousel-inner {
  padding: 1em;
}

.card-body {
  background-color: #f1e5e5;
  min-height: 40vh;
}

.card-title {
  font-family: "Comfortaa", italic;
  color: var(--unnamed, #4E2956);
}

.card-text {
  font-family: "Comfortaa", italic;
  color: var(--unnamed, #4E2956);
  font-size: 14px;
  line-height: 15px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .card img {
    height: 11em;
  }
}
.instructions {
  margin: 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inctruction-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: start;
  margin-bottom: 5%;
}
@media screen and (max-width: 850px) {
  .inctruction-h2 {
    text-align: center;
  }
}

.instruction-h3 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 20px;
  font-style: normal;
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 5%;
  text-align: center;
}

.instructions__before {
  justify-self: flex-start;
  flex-basis: 45%;
}
@media screen and (max-width: 850px) {
  .instructions__before {
    flex-basis: 100%;
  }
}

.instructions__after {
  flex-basis: 45%;
}
@media screen and (max-width: 850px) {
  .instructions__after {
    flex-basis: 100%;
  }
}

.instructions__before-list-item {
  font-family: "Comfortaa", italic;
  font-size: 15px;
  color: var(--unnamed, #4E2956);
}
.instructions__before-list-item .instructions__before-list_nested {
  padding-left: 0;
}
.instructions__before-list-item .instructions__before-list_nested .instructions__before-list-item_nested {
  list-style-type: none;
}

.instructions__after-list {
  font-family: "Comfortaa", italic;
  font-size: 15px;
  color: var(--unnamed, #4E2956);
}
.instructions__after-list .instructions__after-list_nested {
  padding-left: 0;
}
.instructions__after-list .instructions__after-list_nested .instructions__after-list-item_nested {
  list-style-type: none;
}

form {
  flex-wrap: wrap;
  display: flex;
  margin: 60px 0 auto 0;
  flex-basis: 100%;
  gap: 5%;
  justify-content: center;
}
form .form-header {
  flex-basis: 100%;
  font-size: 25px;
  font-family: "Comfortaa", italic;
  text-align: center;
  color: rgba(78, 41, 86, 0.7);
}
form input {
  height: 75px;
  font-family: "Comfortaa", italic;
  background-color: #f1e5e5;
  border: 1px solid #f1e5e5;
  border-radius: 15px;
  padding: 20px;
}
form .ask-button {
  width: 164px;
  height: 75px;
  background-color: #5B495F;
  color: #FFF;
  font-family: "Comfortaa", italic;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.25px;
}

.ask-button:hover {
  color: var(--unnamed, #4E2956);
  background-color: #f1e5e5;
  border: 1px solid var(--unnamed, #4E2956);
}

input:hover {
  border: 1px solid var(--unnamed, #4E2956);
}

.blog {
  margin: 5% 10%;
  background-image: url(../images/blog_cover.png);
  background-size: cover;
}

.blog-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
}

.blog__h2 {
  color: var(--unnamed, #1B3C36);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #89B1A9;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
  border-radius: 5%;
  border: 1px solid var(--unnamed, #1B3C36);
}

.card-wrapper__img {
  width: 70%;
  height: 35vh;
  margin-top: 30px;
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-wrapper__link {
  height: 40%;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: "Comfortaa", italic;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
}

.card-wrapper:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 920px) {
  .card-wr1 {
    display: none;
  }
  .blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-wrapper {
    width: 60%;
  }
}
.reviews {
  margin: 5% 10%;
}

.reviews-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 2.75px;
  text-align: center;
}

.stars {
  text-align: center;
  width: 20vw;
  display: block;
  margin: 0 auto;
}

.rating {
  color: var(--unnamed, #4E2956);
  text-align: center;
  font-family: "Comfortaa", italic;
  font-size: 25px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.text {
  display: flex;
  justify-content: space-between;
}

.text1 {
  width: 30vw;
  min-height: 20vh;
  padding: 10.663px 13.328px;
  border-radius: 15.994px;
  border: 0.536px solid #5B495F;
  box-shadow: 1.42857px 3.57143px 7.14286px;
  margin: 10px;
  background-color: #f1e5e5;
}

.p1 {
  color: var(--unnamed, #4E2956);
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.34px;
  text-decoration-line: underline;
}

.p2 {
  color: var(--unnamed, #4E2956);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.32px;
}

.text1:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .text {
    display: flex;
    flex-direction: column;
  }
  .text1 {
    width: 60vw;
    margin: 3% auto;
  }
}
.contacts {
  margin: 5% 10%;
  display: grid;
  -moz-column-gap: 56px;
       column-gap: 56px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr 3fr;
}
@media screen and (max-width: 1030px) {
  .contacts {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    row-gap: 2%;
  }
}
.contacts .address-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  grid-column: 1/3;
  text-align: center;
  margin-bottom: 5%;
}
@media screen and (max-width: 1030px) {
  .contacts .address-h2 {
    grid-column: 1/2;
    margin-bottom: 0;
  }
}
.contacts .contacts__text {
  font-family: "Comfortaa", italic;
  font-size: 20px;
  color: var(--unnamed, #4E2956);
}
.contacts .contacts__text span {
  font-weight: 800;
}
.contacts .contacts__socials .contacts__socials-header {
  font-family: "Comfortaa", italic;
  font-size: 20px;
  color: var(--unnamed, #4E2956);
}
.contacts .contacts__socials .contacts__socials-header span {
  font-weight: 800;
}
.contacts .contacts__socials img {
  margin-right: 4%;
  width: 47.871px;
  height: 45px;
  flex-shrink: 0;
}
@media screen and (max-width: 650px) {
  .contacts iframe {
    width: 100%;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5B495F;
  width: 97vw;
  margin: 15px;
  border-radius: 15.994px;
}

.footer-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p3 {
  color: #FFF;
  font-family: "Comfortaa", italic;
  margin-bottom: 0;
}

.p4 {
  color: #FFF;
  font-family: "Comfortaa", italic;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.laser_employees {
  max-width: 100%;
  margin: 3rem;
  background-size: cover;
  flex-shrink: 0;
  border-radius: 50px;
  background: rgba(137, 177, 169, 0.3);
  /* для форм/темный */
  box-shadow: 2px 5px 10px 5px rgba(46, 75, 121, 0.2);
}

.laser_employees_license {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15vh;
  padding-bottom: 5rem;
}

.img_employees {
  max-width: 100%;
}

.img_equipment {
  max-width: 100%;
}

.license {
  display: flex;
  justify-content: center;
}

.licence_photo {
  width: 90%;
  margin-top: 15vh;
  border-radius: 50px;
}

.h3_ourstudio {
  color: var(--unnamed, #4E2956);
  text-align: center;
  /* Заголовок 2 */
  font-family: Noto Serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 45.5px */
  letter-spacing: 1.75px;
  text-transform: capitalize;
  margin-top: 3rem;
}

.laser_employees_licence_element_line {
  max-width: 100%;
  margin-bottom: 3rem;
}

.img_employees {
  margin-top: 3rem;
}

@media screen and (max-width: 900px) {
  .laser_employees {
    width: 50rem;
  }
}
.p_ourstudio {
  padding: 5rem;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 860px;
  background-image: url(../images/header_1.png);
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .header {
    height: 950px;
  }
}

.header-container {
  margin: auto 10vw;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .header__logo {
  width: 180px;
  height: 80px;
}
@media screen and (max-width: 414px) {
  .header__nav .header__logo {
    width: 80px;
    height: 40px;
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}
@media screen and (max-width: 920px) {
  .header__menu {
    display: none;
  }
}

.header__menu_item {
  margin-left: 2vw;
  color: var(--unnamed, #4E2956);
  text-decoration: none;
  font-family: "Comfortaa", italic;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.header__menu_item:hover {
  color: #FFF;
  background-color: #5B495F;
}

.dropdown-menu {
  background: transparent;
  border: none;
}

.dropdown-item {
  font-size: 8px;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 920px) {
  .burger-menu {
    display: block;
    fill: #5B495F;
  }
}

.burger-menu:hover {
  background-color: #f1e5e5;
  fill: #f1e5e5;
}

.header__socials_tel {
  width: 31.507px;
  height: 30.75px;
  margin-right: 5px;
}
@media screen and (max-width: 920px) {
  .header__socials_tel {
    width: 25px;
    margin-bottom: 1%;
    margin-top: 1%;
  }
}

.header__socials_tel:hover {
  transform: scale(1.2);
}

.header__socials_tg {
  width: 36.758px;
  height: 36px;
  margin-right: 5px;
}
@media screen and (max-width: 920px) {
  .header__socials_tg {
    width: 25px;
    margin-bottom: 1%;
  }
}

.header__socials_tg:hover {
  transform: scale(1.2);
}

.header__socials_wa {
  width: 36.758px;
  height: 33.75px;
}
@media screen and (max-width: 920px) {
  .header__socials_wa {
    width: 25px;
    margin-bottom: 1%;
  }
}

.header__socials_wa:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 920px) {
  .header__socials {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
}

.header__main {
  margin-top: 20vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
}

.header__button {
  width: 339px;
  height: 75px;
  background-color: #5B495F;
  color: #FFF;
  font-family: "Comfortaa", italic;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.25px;
  margin-top: 10%;
}
@media screen and (max-width: 767px) {
  .header__button {
    width: 250px;
    height: 60px;
    background-color: #5B495F;
    color: #FFF;
    font-family: "Comfortaa", italic;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.25px;
    font-size: 15px;
  }
}
@media screen and (max-width: 414px) {
  .header__button {
    width: 80vw;
    height: 40px;
    background-color: #5B495F;
    color: #FFF;
    font-family: "Comfortaa", italic;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.25px;
    font-size: 15px;
  }
}

.header__button:hover {
  color: var(--unnamed, #4E2956);
  background-color: #f1e5e5;
  border: 1px solid var(--unnamed, #4E2956);
}

.h1 {
  font-size: 50px;
  font-family: "Comfortaa", italic;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 35px;
  }
}

.header-h3 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 20px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 768px) {
  .header-h3 {
    font-size: 17px;
  }
}

.header__main_text {
  margin-top: 5vh;
  width: 100%;
  font-size: 17px;
  font-family: "Comfortaa", italic;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .header__main_text {
    font-size: 15px;
  }
}
@media screen and (max-width: 414px) {
  .header__main_text {
    font-size: 13px;
  }
}

.about-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: center;
  margin-top: 12%;
}

.video-container {
  position: relative;
  max-width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
}
.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-container .video-overlay {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-container .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.section-about__advantages {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.section-about__advantages .a {
  display: inline-block;
  padding-top: 7%;
  margin: 0;
}

.about-icons {
  width: 50%;
}

.about-icons:hover {
  transform: scale(1.1);
}

.section-about__advantages_item {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.advantages-h3 {
  color: #89B1A9;
  font-family: "Comfortaa", italic;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.advantages-h3_link {
  text-decoration: none;
  color: inherit;
}

.advantages-h3_link:hover {
  text-decoration: underline;
  color: inherit;
}

.price {
  margin: 5% 10%;
  background-image: url(../images/priceback1.png);
  background-size: cover;
}

.price-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: center;
}

.card-group {
  display: flex;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.carousel-inner {
  padding: 1em;
}

.card-body {
  background-color: #f1e5e5;
  min-height: 40vh;
}

.card-title {
  font-family: "Comfortaa", italic;
  color: var(--unnamed, #4E2956);
}

.card-text {
  font-family: "Comfortaa", italic;
  color: var(--unnamed, #4E2956);
  font-size: 14px;
  line-height: 15px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .card img {
    height: 11em;
  }
}
.instructions {
  margin: 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inctruction-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: start;
  margin-bottom: 5%;
}
@media screen and (max-width: 850px) {
  .inctruction-h2 {
    text-align: center;
  }
}

.instruction-h3 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 20px;
  font-style: normal;
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 5%;
  text-align: center;
}

.instructions__before {
  justify-self: flex-start;
  flex-basis: 45%;
}
@media screen and (max-width: 850px) {
  .instructions__before {
    flex-basis: 100%;
  }
}

.instructions__after {
  flex-basis: 45%;
}
@media screen and (max-width: 850px) {
  .instructions__after {
    flex-basis: 100%;
  }
}

.instructions__before-list-item {
  font-family: "Comfortaa", italic;
  font-size: 15px;
  color: var(--unnamed, #4E2956);
}
.instructions__before-list-item .instructions__before-list_nested {
  padding-left: 0;
}
.instructions__before-list-item .instructions__before-list_nested .instructions__before-list-item_nested {
  list-style-type: none;
}

.instructions__after-list {
  font-family: "Comfortaa", italic;
  font-size: 15px;
  color: var(--unnamed, #4E2956);
}
.instructions__after-list .instructions__after-list_nested {
  padding-left: 0;
}
.instructions__after-list .instructions__after-list_nested .instructions__after-list-item_nested {
  list-style-type: none;
}

form {
  flex-wrap: wrap;
  display: flex;
  margin: 60px 0 auto 0;
  flex-basis: 100%;
  gap: 5%;
  justify-content: center;
}
form .form-header {
  flex-basis: 100%;
  font-size: 25px;
  font-family: "Comfortaa", italic;
  text-align: center;
  color: rgba(78, 41, 86, 0.7);
}
form input {
  height: 75px;
  font-family: "Comfortaa", italic;
  background-color: #f1e5e5;
  border: 1px solid #f1e5e5;
  border-radius: 15px;
  padding: 20px;
}
form .ask-button {
  width: 164px;
  height: 75px;
  background-color: #5B495F;
  color: #FFF;
  font-family: "Comfortaa", italic;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.25px;
}

.ask-button:hover {
  color: var(--unnamed, #4E2956);
  background-color: #f1e5e5;
  border: 1px solid var(--unnamed, #4E2956);
}

input:hover {
  border: 1px solid var(--unnamed, #4E2956);
}

.blog {
  margin: 5% 10%;
  background-image: url(../images/blog_cover.png);
  background-size: cover;
}

.blog-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
}

.blog__h2 {
  color: var(--unnamed, #1B3C36);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #89B1A9;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
  border-radius: 5%;
  border: 1px solid var(--unnamed, #1B3C36);
}

.card-wrapper__img {
  width: 70%;
  height: 35vh;
  margin-top: 30px;
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-wrapper__link {
  height: 40%;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: "Comfortaa", italic;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
}

.card-wrapper:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 920px) {
  .card-wr1 {
    display: none;
  }
  .blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-wrapper {
    width: 60%;
  }
}
.reviews {
  margin: 5% 10%;
}

.reviews-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 2.75px;
  text-align: center;
}

.stars {
  text-align: center;
  width: 20vw;
  display: block;
  margin: 0 auto;
}

.rating {
  color: var(--unnamed, #4E2956);
  text-align: center;
  font-family: "Comfortaa", italic;
  font-size: 25px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.text {
  display: flex;
  justify-content: space-between;
}

.text1 {
  width: 30vw;
  min-height: 20vh;
  padding: 10.663px 13.328px;
  border-radius: 15.994px;
  border: 0.536px solid #5B495F;
  box-shadow: 1.42857px 3.57143px 7.14286px;
  margin: 10px;
  background-color: #f1e5e5;
}

.p1 {
  color: var(--unnamed, #4E2956);
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.34px;
  text-decoration-line: underline;
}

.p2 {
  color: var(--unnamed, #4E2956);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.32px;
}

.text1:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .text {
    display: flex;
    flex-direction: column;
  }
  .text1 {
    width: 60vw;
    margin: 3% auto;
  }
}
.contacts {
  margin: 5% 10%;
  display: grid;
  -moz-column-gap: 56px;
       column-gap: 56px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr 3fr;
}
@media screen and (max-width: 1030px) {
  .contacts {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    row-gap: 2%;
  }
}
.contacts .address-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  grid-column: 1/3;
  text-align: center;
  margin-bottom: 5%;
}
@media screen and (max-width: 1030px) {
  .contacts .address-h2 {
    grid-column: 1/2;
    margin-bottom: 0;
  }
}
.contacts .contacts__text {
  font-family: "Comfortaa", italic;
  font-size: 20px;
  color: var(--unnamed, #4E2956);
}
.contacts .contacts__text span {
  font-weight: 800;
}
.contacts .contacts__socials .contacts__socials-header {
  font-family: "Comfortaa", italic;
  font-size: 20px;
  color: var(--unnamed, #4E2956);
}
.contacts .contacts__socials .contacts__socials-header span {
  font-weight: 800;
}
.contacts .contacts__socials img {
  margin-right: 4%;
  width: 47.871px;
  height: 45px;
  flex-shrink: 0;
}
@media screen and (max-width: 650px) {
  .contacts iframe {
    width: 100%;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5B495F;
  width: 97vw;
  margin: 15px;
  border-radius: 15.994px;
}

.footer-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p3 {
  color: #FFF;
  font-family: "Comfortaa", italic;
  margin-bottom: 0;
}

.p4 {
  color: #FFF;
  font-family: "Comfortaa", italic;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body_article {
  max-width: 1440px;
  min-width: 320px;
}

.header_article {
  margin: auto 10%;
  height: 30%;
  background-size: cover;
}
@media screen and (max-width: 920px) {
  .header_article {
    height: 40%;
  }
}

.wrapper_article {
  margin: 5% 10%;
}

.h1_article {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: center;
}

.article__img {
  float: left;
  margin: 20px;
  width: 40%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__img1 {
  float: right;
  margin: 0;
  width: 40%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__img3 {
  float: right;
  margin: 10px;
  width: 40%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__p {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Comfortaa", italic;
}

.article__p {
  font-family: "Comfortaa", italic;
}

.article__ul {
  font-family: "Comfortaa", italic;
}

.footer_article {
  max-width: 1440px;
  min-width: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5B495F;
  width: 100%;
  margin: 15px;
  border-radius: 15.994px;
}

body {
  overflow-x: hidden;
}

@font-face {
  src: url(../fonts/Comfortaa-Regular.ttf);
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  src: url(../fonts/Comfortaa-Bold.ttf);
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 900;
}
@font-face {
  src: url(../fonts/Comfortaa-Light.ttf);
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */