.header {
  width: 100vw;
  height: 860px;
  background-image: url(../images/header_1.png);
  background-size: cover;
}

.header__container {
  margin: auto 10vw;
  background-color: transparent;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .header__logo {
  width: 180px;
  height: 80px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.header__menu_item {
  margin-left: 2vw;
  color: var(--unnamed, #4E2956);
  text-decoration: none;
  font-family: "Comfortaa", italic;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.dropdown-menu {
  background: transparent;
  border: none;
}

.dropdown-item {
  font-size: 8px;
}

.header__socials_tel {
  width: 31.507px;
  height: 30.75px;
  margin-right: 5px;
}

.header__socials_tg {
  width: 36.758px;
  height: 36px;
  margin-right: 5px;
}

.header__socials_wa {
  width: 36.758px;
  height: 33.75px;
}

.header__main {
  margin-top: 20vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
}

.header__button {
  width: 339px;
  height: 75px;
  background-color: #5B495F;
  color: #FFF;
  font-family: "Comfortaa", italic;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.25px;
  margin-top: 10%;
}

.h1 {
  font-size: 50px;
  font-family: "Comfortaa", italic;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2px;
}

.header-h3 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 20px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.5px;
}

.header__main_text {
  margin-top: 5vh;
  font-size: 17px;
  font-family: "Comfortaa", italic;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.section__studio {
  text-align: center;
  margin-top: 12%;
}
@media (max-width: 768px) {
  .section__studio {
    margin-top: 20%;
    margin-left: 15%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .section__studio {
    margin-top: 10%;
    margin-left: 10%;
  }
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .section__studio {
    margin-top: 60%;
    margin-left: 10%;
  }
}
.section__studio .h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: center;
}

.video-container {
  position: relative;
  max-width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
}
.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-container .video-overlay {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-container .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.section__advantages {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-basis: 20%;
  margin-left: 10%;
  margin-right: 10%;
}
.section__advantages .a {
  display: inline-block;
  width: 20%;
  padding-top: 7%;
  margin: 0;
}
.section__advantages .a .img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.section__advantages_item {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.advantages-h3 {
  color: #89B1A9;
  font-family: "Comfortaa", italic;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.instructions {
  margin: 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  text-align: start;
}

.instruction-h3 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 20px;
  font-style: normal;
  flex-basis: 100%;
  margin-bottom: 5%;
}

.before-instruction {
  justify-self: flex-start;
  flex-basis: 35%;
}

.before-instruction__list-item {
  padding-left: 0;
  list-style-type: none;
  font-family: "Comfortaa", italic;
  font-size: 15px;
}

.after-instruction {
  flex-basis: 35%;
}

.after-instruction__list-item {
  padding-left: 0;
  list-style-type: none;
  font-family: "Comfortaa", italic;
  font-size: 15px;
  color: var(--unnamed, #4E2956);
}

.before-instruction__list-item ul {
  padding-left: 0;
}
.before-instruction__list-item ul li {
  list-style-type: none;
}

.after-instruction__list-item ul {
  padding-left: 0;
}
.after-instruction__list-item ul li {
  list-style-type: none;
}

form {
  flex-wrap: wrap;
  display: flex;
  margin: 60px 0 auto 0;
  flex-basis: 100%;
  gap: 5%;
  justify-content: center;
}
form .form-header {
  flex-basis: 100%;
  font-size: 25px;
  font-family: "Comfortaa", italic;
  text-align: center;
  color: rgba(78, 41, 86, 0.7);
}
form input {
  height: 75px;
  margin-right: 82px;
  font-family: "Comfortaa", italic;
  background-color: #f1e5e5;
  border: 1px solid #f1e5e5;
  border-radius: 15px;
  padding: 20px;
}
form button {
  width: 164px;
  height: 75px;
  background-color: #5B495F;
  color: #FFF;
  font-family: "Comfortaa", italic;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.25px;
}

.h2__blog {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
}

.blog_wrapper {
  width: 100%;
  background-image: url(/assets/images/img_blog/backgrimg.png);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blog_wrapper .card_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #89B1A9;
  width: 30vw;
  height: 70vh;
  margin: 10px;
}
.blog_wrapper .card_wrapper .card__img {
  height: 70vh;
  width: 80vw;
}
.blog_wrapper .card_wrapper .card__link {
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
  color: #FFF;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: Noto Serif;
  font-size: 27.691px;
  font-style: normal;
  font-weight: 400;
}

.reviews {
  width: 97vw;
  margin-bottom: 15px;
}

.reviews-h2 {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 2.75px;
  text-align: center;
}

.stars {
  text-align: center;
  width: 20vw;
  display: block;
  margin: 0 auto;
}

.rating {
  color: var(--unnamed, #4E2956);
  text-align: center;
  font-family: "Comfortaa", italic;
  font-size: 25px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 10px;
}

.text {
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.text1 {
  width: 30vw;
  min-height: 20vh;
  padding: 10.663px 13.328px;
  border-radius: 15.994px;
  border: 0.536px solid #5B495F;
  box-shadow: 1.42857px 3.57143px 7.14286px;
  margin: 10px;
  background-color: #f1e5e5;
}

.p1 {
  color: var(--unnamed, #4E2956);
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.34px;
  text-decoration-line: underline;
}

.p2 {
  color: var(--unnamed, #4E2956);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.32px;
}

.text1:hover {
  transform: scale(1.2);
}

.contacts {
  margin: 5% 10%;
  display: grid;
  -moz-column-gap: 56px;
       column-gap: 56px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr 3fr;
}
.contacts .h2 {
  grid-column: 1/3;
}
.contacts p {
  font-size: 25px;
  color: var(--unnamed, #4E2956);
}
.contacts p span {
  font-weight: 800;
}
.contacts .contacts__socials img {
  margin-right: 69px;
  width: 47.871px;
  height: 45px;
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5B495F;
  width: 97vw;
  margin: 15px;
  border-radius: 15.994px;
}

.p3 {
  color: #FFF;
  font-family: "Comfortaa", italic;
}

.p4 {
  color: #FFF;
  font-family: "Comfortaa", italic;
}

.main_article {
  width: 1440px;
}

.wrapper_article {
  width: 80vw;
  margin: 5vw;
}

.h2_article {
  color: var(--unnamed, #4E2956);
  font-family: "Comfortaa", italic;
  font-size: 45px;
  font-style: normal;
}

.img__article {
  float: left;
  margin: 20px;
  width: 40vw;
  height: 70vh;
}

.p__article {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */